#z-index-first-stars
{
	z-index: 10;
	position: absolute;
}
#z-index-second-stars
{
	z-index: 20;
	position: absolute;
}
#purple-world
{
	cursor: pointer;
	margin-left: 10%;
	margin-top: 6%;
}
#red-world
{
	cursor: pointer;
	margin-left: 140%;
	margin-top: 60%;
}
#blue-world
{
	cursor: pointer;
	margin-left: 245%;
	margin-top: 130%;
}
#z-index-main-page
{
	z-index: 30;
	position: relative;
	height:700px;
}