#z-index-first-stars
{
    z-index: 10;
    position: absolute;
    width: 3800px;
    height: 3800px;
    margin-left: -1000px;
    margin-top: -1000px;
}
#z-index-second-stars
{
    z-index: 20;
    position: absolute;
    width: 4000px;
    height: 4000px;
    margin-left: -2000px;
    margin-top: -2000px;
}
#z-index-main-page
{
    z-index: 30;
    position: relative;
    height:700px;
}
#upload-box
{
    z-index: 40;
    position: fixed;
}
#search-box-display
{
    z-index: 50;
    position: absolute;
}